<article class="pr-article">
    <div class="pr-iconoBorrar"><i class="fas fa-trash-alt"></i></div>
    <div class="pr-producto">
        <h2><%= user.name %></h2>
        <img src="/images/user/<%= user.file %>" alt="<%= user.name %>" class="product_img">
    </div>
    <div class="pr-descripcion">
        <h2>Descripcion</h2>
        <p><%= user.description %></p>
    </div>
    <div class="pr-row">
        <div class="pr-cantidad">
            <h2>Cantidad</h2>
            <div class="pr-btns">
                <input type="text" value="" class="cantidad">
            </div>        
        </div>
        <div class="btns">
            <a href="/user/<%=user.id %>/edit"><button class="btn-edit">Editar</button></a>
            <button class="btn-stop">Pausar</button>
        </div>
        <div class="pr-precio">
            <h2>Total</h2>
            <h2><%= user.price %></h3>
        </div>
    </div>
</article>