<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel='stylesheet' href='/css/form-user.css' />
</head>


<body>
    <%- include('../partials/header') %>

        <main class="main-register">


            <form action="/user/register" method="POST" class="form-register" enctype="multipart/form-data">
                <div class="control-form">
                    <label for="" class="titulo">Nombre y Apellido</label>
                    <input type="text" name="name" placeholder="nombre apellido"
                        value="<%= locals.old && old.name ? old.name : '' %>" class="control" minlength="3"
                        maxlength="30">
                    <% if (locals.errors && errors.name){ %>
                        <div class="text-danger">
                            <%= errors.name.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="control-form">
                    <label for="" class="titulo">Usuario</label>
                    <input type="text" name="userName" placeholder="usuario"
                        value="<%= locals.old && old.userName ? old.userName : '' %>" class="control" minlength="3"
                        maxlength="30">
                    <% if (locals.errors && errors.userName){ %>
                        <div class="text-danger">
                            <%= errors.userName.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="control-form">
                    <label for="" class="titulo">Feche de Nacimiento</label>
                    <input type="date" name="fecha" value="<%= locals.old && old.fecha ? old.fecha : '' %>">
                    <% if (locals.errors && errors.fecha){ %>
                        <div class="text-danger">
                            <%= errors.fecha.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="control-form">
                    <label for="" class="titulo">Domicilio</label>
                    <input type="text" name="domicilio" placeholder="rauch 1019"
                        value="<%= locals.old && old.domicilio ? old.domicilio : '' %>" class="control" maxlength="30">
                    <% if (locals.errors && errors.domicilio){ %>
                        <div class="text-danger">
                            <%= errors.domicilio.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="control-form">
                    <label for="" class="titulo">Perfil de Usuario</label>
                    <label><input type="radio" name="perfil" value="comprar" <%=locals.old && (old.perfil=="comprar" )
                            ? "selected" : "" ; %> >Comprar</label>
                    <label><input type="radio" name="perfil" value="vender" <%=locals.old && old.perfil==="vender"
                            ? 'selected' : "" %> >Vender</label>
                    <% if (locals.errors && errors.perfil){ %>
                        <div class="text-danger">
                            <%= errors.perfil.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="categorias">
                    <label for="" class="titulo">Intereses</label>
                    <label><input type="checkbox" name="categorias" value="electro" <%=locals.old &&
                            old.categorias==='electro' ? selected : '' %>>Electro</label>
                    <label><input type="checkbox" name="categorias" value="moda" <%=locals.old &&
                            old.categorias==='moda' ? selected : '' %>>Moda</label>
                    <label><input type="checkbox" name="categorias" value="hogar" <%=locals.old &&
                            old.categorias==='hogar' ? selected : '' %>>Hogar</label>
                    <label><input type="checkbox" name="categorias" value="jugueteria" <%=locals.old &&
                            old.categorias==='jugueteria' ? selected : '' %>>Jugueteria</label>
                    <label><input type="checkbox" name="categorias" value="vidaSana" <%=locals.old &&
                            old.categorias==='vidaSana' ? selected : '' %>>Vida Sana</label>
                </div>
                <div class="control-form">
                    <label for="" class="titulo">Foto de Perfil</label>
                    <input type="file" name="file">
                </div>
                <div class="control-form">
                    <label for="" class="titulo">Password</label>
                    <input type="password" name="password" placeholder="Password" class="control" minlength="8"
                        maxlength="30">
                    <% if (locals.errors && errors.password){ %>
                        <div class="text-danger">
                            <%= errors.password.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="control-form">
                    <label for="">El password debe tener un largo superior a 8 caracteres</label>
                    <input type="password" name="password2" placeholder="Confirma tu Password" class="control" minlength="8"
                        maxlength="30">
                    <% if (locals.errors && errors.password2){ %>
                        <div class="text-danger">
                            <%= errors.password2.msg %>
                        </div>
                        <% } %>
                </div>
                <button type="submit" class="button-submit">Enviar</button>
                <button type="reset" class="button-reset">Borrar</button>
            </form>

        </main>

        <%- include('../partials/footer') %>

</body>

</html>