<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%>
<link rel='stylesheet' href='/css/form-product.css' />
    <body>
        <%- include('../partials/header')%>
            <main>

                <div class="container">
                    <div class="titular">
                        <h2 class="titulo">Editar Producto</h2>
                    </div>
                    <form action="/product/<%=product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                        <article class="product-create-article">
                            <div class="icoExit">
                                <a href="/product">
                                    <i class="fas fa-times-circle"></i>
                                </a>
                            </div>
                            <div class="product-create-file">
                                <h2>Imagen</h2>
                                <img src="/images/product/<%= product.file %>" alt="<%=product.name %>" class="detail-product_img">
                                <input type="file" name="file" value="<%=product.file %>">
                            </div>
                            <div class="setction">
                                <div class="product-create-category">
                                    <h2>Categoria</h2>
                                    <select class="product-form-select" name="category" id="category">
                                        <option>Selecciona una categoria</option>
                                        <option value="1">vinos</option>
                                        <option value="2">Espumantes</option>
                                        <option value="3">cervezas</option>
                                    </select>
                                </div>
                                <div class="product-create-name">
                                    <h2>Nombre</h2>
                                    <input type="text" name="name" placeholder="Nombre" required maxlength="30"
                                        value="<%=product.name %>">
                                </div>
                                <div class="product-create-descripcion">
                                    <h2>Descripcion</h2>
                                    <textarea name="description" id="descripction" cols="30"
                                        rows="10"><%=product.description %></textarea>
                                </div>
                                <div class="product-create-row">
                                    <div class="product-create-stock">
                                        <h2>Stock:</h2>
                                        <input type="number" name="stock" class="edit-stock" required
                                            maxlength="6" value="<%=product.stock %>">
                                    </div>
                                    <div class="product-create-price">
                                        <h2>Precio:</h2>
                                        <input type='text' name="price" required placeholder="$" maxlength="6"
                                            value="<%=product.price %>">
                                    </div>
                                </div>
                                <div class="btns">
                                    <button class="btn-agregar" type='submit'>Editar</button>
                                </div>
                            </div>

                        </article>
                    </form>
            </main>

            <%- include('../partials/footer')%>

    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#category > option[value="<%=product.category %>"]').attr('selected', 'selected');
        });
    </script>

</html>